/********************************
    General Rules
********************************/
/* 
  Page styles excluding theme cards
*/

@font-face{
  font-family: 'ConsAlt';
  src: url('../Fonts/ConsolasAlt/ConsolasAlt.ttf');
}

header{
  font-family: "ConsAlt";
}

h1 {
  text-align: center;
  padding-top: 2rem;
  color: #1a1b1e;
  font-family: "ConsAlt";
}

body {
  background-color: #b29d69;
}

.breath{
  padding-top: 2rem;
}

.card-shadow{
  box-shadow: 7px 5px 12px rgb(136, 136, 136);
}

/********************************
    Color Theme Cards
********************************/
/* Contemporary (22) */
.cont-cap{
  background-color: #254E58;
  color: #afd3d2;
}

.cont-body{
  background: radial-gradient(circle at center, #afd3d2, #88BDBC 60%);
  color: #6E6658;
}

.cont-prim-text{
  color: #4F4A41;
}

/* Earth (3) */
.ear-cap{
  background-color: #BC986A;
  color: #FBEEC1;
}

.ear-body{
  background: radial-gradient(circle at center, #81a4b8, #659DBD 60%);
  color: #fbeec1;
}

.ear-prim-text{
  color: #625e2e;
}


/* Electropop (21) */
.pop-cap{
  background-color: #5680E9;
  color: whitesmoke;
}

.pop-body{
  background: radial-gradient(circle at center, #84CEEB, #5AB9EA 70%);
  color: #724bbb;
}

.pop-prim-text{
  color: #8860D0;
}

/* Evoke (12) */
.ev-cap{
  background-color: #0B0C10;
  color: white;
}

.ev-body{
  background: radial-gradient(circle at center, #1F2833, #45A29E 400%);
  color: #C5C6C7;
}

.ev-prim-text{
  color: #66FCF1;
}

/* Mint (24) */
.min-cap{
  background-color: #2B7A78;
  color: #DEF2F1;
}

.min-body{
  background-color: #3AAFA9;
  color: #17252A;
}

.min-prim-text{
  color: #FEFFFF;
}

/* Modern (19) */
.mod-cap{
  background-color: #D8C3A5;
  color: #8E8D8A;
}

.mod-body{
  background-color: #EAE7DC;
  color: #E98074;
}

.mod-prim-text{
  color: #E85A4F;
}

/* Ocean (23) */
.oc-cap{
  background-color: #25274D;
  color: #45A29E;
}

.oc-body{
  /* background-color: #464866; */
  background: radial-gradient(ellipse at top, #464866, #25274D 85%);
  color: #98d3cf;
}

.oc-prim-text{
  color: #66FCF1;
}

/* Sky (30) */
.sk-cap{
  background-color: #8FC1E3;
  color: #687864;
}

.sk-body{
  background: radial-gradient(ellipse at center, #F7F9FB, #8FC1E3 130%);
  color: #5085A5;
}

.sk-prim-text{
  color: #31708E;
}