/* Elements -------------------- */
body {
    background: #1a1b1e;
    text-align: center;
    padding-top: 20%;
    color: white;
    font-family: "Josefin Sans";
    font-size: xx-large;
    font-style: italic;
}
