/********************************
    Font Includes
********************************/
/* 
  Change fonts as you see tasteful
*/

@font-face{
  font-family: 'FiraCode';
  src: url('../Fonts/FiraCode/woff/FiraCode-Bold.woff') format('woff'),
       url('../Fonts/FiraCode/woff/FiraCode-Light.woff') format('woff'),
       url('../Fonts/FiraCode/woff/FiraCode-Medium.woff') format('woff'),
       url('../Fonts/FiraCode/woff/FiraCode-Regular.woff') format('woff'),
       url('../Fonts/FiraCode/woff/FiraCode-SemiBold.woff') format('woff'),
       url('../Fonts/FiraCode/woff/FiraCode-VF.woff') format('woff');
}

@font-face{
  font-family: 'Jetbrains Mono';
  src: url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Bold.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-ExtraBold.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Italic.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Medium.woff') format('woff'),
       url('../Fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff') format('woff');
}

@font-face{
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat/Montserrat-Regular.ttf');  
}

@font-face{
  font-family: 'Oleo Script';
  src: url('../Fonts/OleoScript/OleoScript-Regular.ttf');
}

@font-face{
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face{
  font-family: 'Consolas-Alt';
  src: url('../Fonts/ConsolasAlt/ConsolasAlt.ttf');
}

@font-face{
  font-family: 'Hack';
  src: url('../Fonts/Hack/Hack-Regular.ttf');
}

/********************************
    Demo Page Styles
********************************/
/*
  Single fonts, font stacks
*/

body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  padding-bottom: 3rem;
}

h3{
  /* text-align: center; */
  padding-left: 6rem;
}

hr{
  height:3px;
  width:40%;
  border-width:0;
  background-color:#8f764a;
}

.divider{
  padding-bottom: 2rem;
}

p{
  padding-bottom: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

/********************************
    Font Displays
********************************/
/*
  Single fonts, font stacks
*/

.jbm {
  font-family: "Jetbrains Mono";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}

.fc {
  font-family: "FiraCode";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}

.ms {
  font-family: "Montserrat";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}

.os{
  font-family: "Oleo Script";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}

.opsn{
  font-family: "Open Sans";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}

.consalt{
  font-family: "Consolas-Alt";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}

.h{
  font-family: "Hack";
  text-align: left;
  line-height: 1.8rem;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
}