/********************************
    General Rules
********************************/
/* 
  Page styles excluding script cards
*/

@font-face{
  font-family: 'ConsAlt';
  src: url('../Fonts/ConsolasAlt/ConsolasAlt.ttf');
}

header{
  font-family: "ConsAlt";
}

body {
  color: #384047;
  background-color: #b29d69;
}

.placeholder-btn{
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cntr{
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  color: #1a1b1e;
  font-family: "ConsAlt";
}

/********************************
    Demo Script Cards
********************************/
/*
  Showcase of scripts in action
*/