/***********************
  Custom Styles
***********************/
header {
  background-color: #1a1b1e;
}

main {
  background-color: #343a40;
}

.greeting h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}

.myBrand {
  color: #E85A4F;
}

.greeting {
  text-align: center;
  color: #C5C6C7;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.first-photo {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.collage-photo {
  text-align: center;
}

.foot {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  padding: 3rem 10rem 4rem 10rem;
}

.collage-border {
  border: 10px inset darkgray;
  border-radius: 8px;
}

.link-mute a:link, a:visited, a:active {
  text-decoration: none;
  color: #C5C6C7;
  
}