/***********************
  Elements
***********************/
body {
  /* background-color: #343a40; */
  /* background: linear-gradient(#1a1b1e, black); */
  /* background: radial-gradient(); */
  background: radial-gradient(circle at center, #1F2833, #343a40 80%);
}

footer {
  background-color: #1a1b1e;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}

a:link, a:visited {
  text-decoration: none;
  color: #C5C6C7;
}

a:hover {
  text-decoration: none;
  color: #E85A4F;
}

/***********************
  Classes
***********************/
.greeting {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.first-photo {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.collage-photo {
  text-align: center;
}

.foot {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 10rem 4rem 10rem;
  color: #E85A4F;
}

.blurb {
  color: #C5C6C7;
}

.collage-border {
  border: 10px inset darkgray;
}